*{
    margin: 0;
    padding: 0;
}

.header_container{
    display: flex;
   
    gap:20px
}

.hero_text{
    width: 80%;
    padding:10px;
    display: flex;
    justify-content: center;


}

.hero_text >div{
    margin-top: 100px;
}


.hero_image_container{
    width: 60%;
}

.hero_image_container > img{
    width: 100%;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.product-header-name{
    font-size: 40px;
    font-weight: bold;
}

.product-container{
 display: grid;
grid-template-columns: repeat(4, 1fr);
 
 gap:20px;
}

.card-container{
    border: 1px solid gray;
    padding: 10px;
    
}

.card-container:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.product-image{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}



.product-name{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.product-price{
    font-weight: 400;
}

.product-description{
    font-weight: lighter;
    color: gray;
}


















/* mobile */
@media only screen and  (max-width:480px){
    .header_container{
        display: flex;
        flex-direction: column;
       
        gap:20px
    }

    .hero_text{
        width: 100%;
        padding:10px;
        display: flex;
        justify-content: center;
    
    
    }

    .hero_text >div{
        margin-top: 10px;
    }

    .hero_text >div >h1{

        font-size: 20px;
    }
    
    
    .hero_image_container{
        width: 100%;
    }
    
    .hero_image_container > img{
        width: 100%;
    }

    .product-header-name{
        font-size: 30px;
        margin-bottom: 20px;
    }

    main{
        margin-top: 30px;

    }

    .product-container{
        display: flex;
        flex-direction: column;
    }

    .card-container > .product-image{
        width: 100%;
        height: 200px;

    }


.product-name{
    font-size: 30px;
    font-weight: bold;
}

.product-price{
    color: black;
    font-weight: bold;
}


    
   
    
    }


    