*{
    background-color: black;
    color: white;
    max-width: 958px;
    

}

body{
    width: 95%;
    max-width: 990px;
    margin: 0 auto;
    margin-top: 50px;
}

.header_conatiner{
    margin: 20px;
    padding: 10px;
}

.image_bio_container{
    display: flex;
    
    margin-top: 20px;
    /*  flex-wrap: wrap; */
   
 
    align-items: center;
    
}

.image_container{
    width: 50%;
    text-align: center;
 
}

.image{
    border-radius: 50%;
    width: 50%;
}

.bio_container{
    width: 80%;
}

.bio_container > .heading{
    font-size: 40px;
    color: rgb(192, 185, 185);
  
}


.bio_text{
    font-size: 20px;
    color: rgb(180, 172, 172);

    font-family: sans-serif;

}


.email{
    text-decoration: none;
    font-size: 20px;

}

.social-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
 
    
}

#social-link{
    
    font-size: 20px;
    color: gray;

}

#social-link > a {
    text-decoration: none;  
    color: rgb(190, 181, 181);

}

.skils_header{
    font-size: 30px;
}

.skils_container{
    width: 950px;
    margin-right: 20px;
    margin-left: 20px;
}

.skils_list{
    font-size: 18px;
    list-style: none;
    line-height: 1.8;


}


.stack_container{
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;

}

.stack_header{
    font-size: 30px;

}

.stack_list{
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
   

    padding: 10px;
     flex-wrap: wrap !important;


}

.stack_list > li{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.work_container{
    margin-top: 30px;
}

.work_header_text{
    margin: 0;
}

.work_details_wrapper{
    border-left: 1px solid gray;
    padding-left: 20px;
    
}

.work_role{
    margin: 0;
    font-size: 30px;
}

.work_role > span{
    color: gray !important;

}


.work_duty{
    color: gainsboro;
    font-size: 20px;
    margin-top: 10px;
}


.work_duty_list{
list-style: none;
}


@media only screen and  (max-width:768px){

    .image_bio_container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        /*  flex-wrap: wrap; */
       
    }

    .image_container{
        width: 100%;
        text-align: center;
     
    }
    
    .image{
        border-radius: 50%;
        width: 50%;
    }

    .bio_container{
        width: 100%;
    }
    
    .bio_container > .heading{
        font-size: 30px;
        color: rgb(192, 185, 185);
      
    }
    
    
    .bio_text{
        font-size: 18px;
        color: rgb(180, 172, 172);
    
        font-family: sans-serif;
    
    }

    
.skils_header{
    font-size: 20px;
}

.skils_container{
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.skils_list{
    font-size: 18px;
    list-style: none;
    line-height: 1.8;


}



.stack_container{
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;

}

.stack_header{
    font-size: 20px;

}

.stack_list{
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    padding: 10px;
     


}

.stack_list > li{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}


.work_container{
    margin-top: 20px;
}

.work_header_text{
    margin: 0;
}

.work_details_wrapper{
    border-left: 1px solid gray;
    padding-left: 20px;
    margin-top: 20px;
    
}

.work_role{
    margin: 0;
    font-size: 20px;
}

.work_role > span{
    color: gray !important;

}


.work_duty{
    color: gainsboro;
    font-size: 15px;
    margin-top: 10px;
}


.work_duty_list{
list-style: none;
}



    
}